@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================
   Global Variables & Typography
======================== */
:root {
  --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-bg: #2e2e2e; /* Fondo oscuro */
  --color-text: #ffffff; /* Texto blanco */
  --color-accent: #3b82f6;
  --color-accent-hover: #6366f1;
  --color-btn-bg: #3b82f6;
  --color-btn-text: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.5;
  font-weight: 400;
}

/* Enlaces */
a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-accent-hover);
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-text);
}